.master-main-box {
    border: 1px solid;
    border-radius: 4px;
}

.master-main-box-h2 {
    padding: 5px 0;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid;
    color: white;
    background-color: #247B7B;
}

.master-field-box {
    padding: 10px;
}

.master-input-box {
    display: flex;
    align-items: center;
}

.master-field-box-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.master-input-box-label {
    margin-right: 10px;
}

.master-nested-section {
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 10px;
}

.master-nested-section-heading {
    padding: 5px 0;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid;
    color: white;
    background-color: #247B7B;
}